<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Stint+Ultra+Condensed&display=swap" rel="stylesheet"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container{
    margin: 2rem;
    border: 2px solid gray;
    height: 60vh;
    box-shadow: 5px 10px #888888;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
}
.innercontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li{
    list-style: none;
    font-size: large;
    padding: 20PX;
    cursor: pointer;
    font-size: large;
    letter-spacing: 2px;
}

.img_container{
    width: 35vw
}
.img_container img{
    width: 100%;
    padding-bottom: 30px;
}
a{
text-decoration: none;}
</style>
</head>
<body>

<h1>Chat Bot</h1>

<div class="container">
    <div class="innercontainer">
        <ul>
            <li>press  1  For Chat other</li>
            <li>press  2  For live chat</li>
            <li>press  3  For contact support</li>
            <li>press  4  For telegam chat</li>
            <li><a href="https://web.whatsapp.com/">press 5 for whatsapp</a></li>
        </ul>
        <div class="img_container">
            <img src="img/analytics.png" alt="">

        </div>
    </div>
</div>

</body>
</html>
