<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/allcourses.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <title>All Courses</title>
  </head>
  <body data-barba="wrapper" class="wrapper">
    <main>
      <section class="landing">
          
        
        <section class="manyglass">

          <div class="card1">
            <div class="image__container">
              <a href="/notes"> <img src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
              </a>
            </div>
            <div class="title">
              <h5>College Subject Notes</h5>
            </div>
          </div>
          
          <div class="card1">
            <div class="image__container">
              <a href="/chat">
                <img src="https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2dyYW1taW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
              </a>
            </div>
            <div class="title">
              <h5>Chat with anyone? resolve query</h5>
            </div>
          </div>
          <div class="card1">
            <div class="image__container">
              <a href="/placement">
                <img src="https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
              </a>
            </div>
            <div class="title">
              <h5>Free Placement Material</h5>
            </div>
          </div>
    
          <div class="quote">
            <div class="Saveyourtime">
              Save Your Presious Time With Us
            </div>

          </div>
            
        </section>


      </section>
    </main>
   
    <div class="open"></div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    <script>
        const tl1 = gsap.timeline({ defaults: { ease: "power1.out" } });

tl1.to(".open", { y: "-100%", duration: 1.25 });
console.log("hekk")
    </script>
    <!-- <script src="/js/home.js"></script> -->
  </body>
</html>
