body{
  background: rgb(42,42,46);

}
.landing{
  background: rgb(42,42,46);
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.manyglass{
  grid-column: 3/10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding-top: 10rem;
  
}

.card1{
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 200px 1fr;
  /* grid-gap: 2rem; */
}

.card1 .image__container{
  grid-column: 1/-1;
  grid-row: 1/2;
  border: 1px solid white;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.title{
  grid-column: 1/-1;
  grid-row: 2/3;
  font-family: Open Sans;
  font-weight: 600;
  font-size: x-large;
  width: 100%;
  align-self: start;
  padding-top: 4px
}

.quote{
  grid-column: 1/-1;
  font-family: Lobster;
  font-size: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}