body{
    margin: 40px;
    background-color: azure;
}

.grid-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-spacing{
    padding: 20px;
    margin: 20px;
}

.custom-image{
    object-fit: contain;    
    height: 50%;
    width: 100%;
}

.courses-notes{
    background-color: cornsilk;
    color: #000;
    text-align: center;
}

.color-card{
    background-color: bisque;
}